doctype HTML5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    block title
    block headFonts
      link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700&subset=cyrillic', rel='stylesheet')
      link(href='http://allfont.ru/allfont.css?fonts=roboto-condensed-light', rel='stylesheet')
      link(href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet")

    block headStyle
      link(href='/css/style.min.css', rel='stylesheet')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    block script
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
      script(src='js/index.min.js')
  body
    .page-wrapper
      .content.content--gradient.clearfix
        ul#scene.scene
          li#layer-3.layer(data-depth='0.2')
            #img-3.imatge
          li.layer.color1.colors(data-depth='1')
            img(src='img/azul.png')
          li.layer.color2.colors(data-depth='2')
            img(src='img/lila.png')
          li.layer.color4.colors(data-depth='0.6')
            img(src='img/verde.png')
          li.layer.color3.colors(data-depth='1.4')
            img(src='img/rojo.png')
          li#layer-2.layer(data-depth='0.45')
            #img-2.imatge
          li#layer-1.layer(data-depth='0.6')
            #img-1.imatge
        div(style='background-image: url(http://www.plasticbcn.com/assets/home/header/bg.png); background-size: 100% 100%; background-position: 50% 50%; background-repeat: no-repeat; width:100%; height:100%; position:absolute; top:0; left:0;')
          header.header.clearfix
            div.header__menu#menuHamburder
              span
              span
              span
          div.nav__wrapper#navWrapp

          container.main-page
            h1.text-center.main-page__h1#main-h1 Frontend Development
            ul.text-center.list-unstyled.clearfix.main-page__tech
              li.main-page__tech-list HTML5
              li.main-page__tech-list CSS3
              li.main-page__tech-list Saas
              li.main-page__tech-list Java Script
              li.main-page__tech-list БЭМ
              li.main-page__tech-list Jade
              li.main-page__tech-list Gulp
              li.main-page__tech-list Git
            div.animate-mouse
              span.animate-mouse__circle
              img(src='img/mouse.svg').animate-mouse__img
        footer.footer
        script(type='text/javascript', src='js/parallax.min.js')
        script.
          var scene = document.getElementById('scene');
          var parallax = new Parallax(scene);
          resizeBackgroundHome();
        script.
          $(document).ready(function () {
              $('#main-h1').addClass("show");
              $('.main-page__tech').addClass("show");
              $('.animate-mouse').addClass("show");

            $('#menuHamburder').click(function () {
              $(this).toggleClass('open');
              $('#navWrapp').toggleClass("show");
            });

          });







