$font-base: 'Roboto Condensed Light', arial;

$font-size-base: 16px;
$font-size-h1: 72px;

$c-blue: #1fdaef;
$c-bg-page: #1c1c1c;
$c-black-header: #2f2f2f;
$c-border-header: #5a4a4a;
$c-nav: #000000;
$c-white: #ffffff;