@import "_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  body {
    font-family: $font-base;
    font-size: $font-size-base;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
    color: #ffffff;

    a, a:hover {
      text-decoration: none;
    }

    .clearfix:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    .page-wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: #ffffff;

      .content {
        max-width: 1470px;
        position: relative;
        margin: 20px 20px 0;
      }

      .scene {
        padding: 0;
        margin: 0;
        overflow: hidden;
        background-color: #0f0f13;
        width: 100%;
        height: 100%;
      }
      .scene li {
        /*top: 50% !important;
			left: 50% !important;*/
      }

      .layer {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
      }

      .layer .imatge {

        //height: 2000px;
        //width: 4000px;
        //top: -1000px;
        //left: -2000px;

        position: absolute;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        animation-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
        animation-name: float;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

      @keyframes float {
        0% {
          transform: translate(0%, 0%);
        }
        100% {
          transform: translate(100%, 100%);
        }
      }

      .layer img {
        width: 100%;
      }

      /* DUST DELANTE */

      #img-1 {
        opacity: 0.8;
        background: url('../img/dust-delante.png');
        background-repeat: repeat;
        animation-duration: 330s;
        -webkit-animation-direction: normal; /* Chrome, Safari, Opera */
        animation-direction: normal;
      }

      /* DUST MEDIO */

      #img-2 {
        opacity: 1;
        background: url('../img/dust-medio.png');
        background-repeat: repeat;
        animation-duration: 555s;
        -webkit-animation-direction: normal; /* Chrome, Safari, Opera */
        animation-direction: normal;
      }

      /* FONDO NEGRO ESTRELLAS GRISES */

      #img-3 {
        opacity: 1;
        background: url('../img/bg-dust.png');
        background-repeat: repeat;
        /*animation-duration: 800s;*/
        -webkit-animation: 800s ease-in-out infinite;
        -webkit-animation-direction: normal; /* Chrome, Safari, Opera */
        animation-direction: normal;
      }

      /* AZUL */

      .color1 {
        -webkit-animation: color1 10s ease-in-out infinite;
      }

      @keyframes color1 {
        0% {
          -webkit-transform: rotate(0deg) translateY(0);
        }
        25% {
          -webkit-transform: rotate(-3deg) translateY(-25px) translateX(-25px);
        }
        50% {
          -webkit-transform: rotate(-3deg) translateY(-50px) translateX(-60px);
        }
        75% {
          -webkit-transform: rotate(-3deg) translateY(-25px) translateX(-25px);
        }
        100% {
          -webkit-transform: rotate(0deg) translateY(0);
        }
      }

      /* LILA */
      .colors {
        left: 50% !important;
        top: 50% !important;
      }
      .color2 {
        -webkit-animation: color2 18s ease-in-out infinite;
      }

      @keyframes color2 {
        50% {
          -webkit-transform: rotate(8deg) scale(0.7) translateY(30px) translateX(60px);
        }
      }
      /* ROJO */

      .color3 {
        -webkit-animation: color3 6s ease-in-out infinite;
      }

      @keyframes color3 {
        50% {
          -webkit-transform: rotate(-20deg) translateY(-30px) translateX(45px);
        }
      }
      /* VERDE */

      .color4 {
        -webkit-animation: color4 12s ease-in-out infinite;
      }

      @keyframes color4 {
        50% {
          -webkit-transform: rotate(8deg) scale(1.2) translateY(10px) translateX(-10px);
        }
      }

      .header {
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
        margin-bottom: 60px;

        &__menu {
          float: right;
          cursor: pointer;
          width: 33px;
          height: 20px;
          position: relative;
          margin: 50px;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;
          -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
          z-index: 3;

          span {
            background: #ffffff;
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;

          }

          & span:nth-child(1) {
            top: 0;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
          }

          & span:nth-child(2) {
            top: 10px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
          }

          & span:nth-child(3) {
            top: 20px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
          }

          &.open span:nth-child(1) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            top: -3px;
            left: 8px;
          }

          &.open span:nth-child(2) {
            width: 0;
            opacity: 0;
          }

          &.open span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 20px;
            left: 8px;
          }

        }

      }


      .nav__wrapper {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        overflow: hidden;
        z-index: 2;
        transition:  opacity .1s linear;

        &.show {
          opacity: 1;
        }

      }

      .main-page {




        &__h1 {
          text-align: center;
          color: $c-white;
          font-family: 'Reem Kufi', sans-serif;
          font-size: 80px;
          letter-spacing: 1.5px;
          font-weight: 700;
          opacity: 0;
          -ms-transform: translateY(80px);
          transform: translateY(80px);
          transition: all 1s;
          visibility: hidden;
        }

        .show {
          opacity: 1;
          -ms-transform: translateY(0);
          transform: translateY(0);
          visibility: visible;
        }

        &__tech {
          font-size: 0;
          letter-spacing: 1px;
          opacity: 0;
          -ms-transform: translateY(80px);
          transform: translateY(80px);
          transition: all 2s;

          &-list {
            margin-left: 13px;
            display: inline-block;
            font-size: $font-size-base + 8;

            &:first-child {
              margin-left: 0;

              &:before {
                content: none;
              }
            }

            &:before {
              content: '';
              display: inline-block;
              margin-right: 13px;
              width: 6px;
              height: 6px;
              background-color: #00c1f7;
              border-radius: 50%;
              vertical-align: middle;
            }
          }
        }
      }
      .footer {
        height: 40px;
        background-color: #ffffff;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
      }

      .animate-mouse {

        cursor: pointer;
        width: 26px;
        height: 44px;
        position: absolute;
        left: 50%;
        transition: all 1s;;
        visibility: hidden;
        -ms-transform: translateY(80px);
        transform: translateY(80px);
        bottom: 120px;

        &__circle {
          animation: floating-arrow ease-in-out 1.5s infinite;
          border-radius: 3px;
          background: #fff;
          height: 6px;
          left: 50%;
          top: 6px;
          -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
          width: 6px;
          position: absolute;
        }

        &__img {
          //position: absolute;
        }

        @keyframes floating-arrow {
          from {
            opacity: 1
          }
          to {
            opacity: 0;
            transform: translate(-50%, 30px)
          }
        }

      }


    }
  }

}

//page 2
